.header {
  font-family: $rubik;
  background: transparentize(map-get($light, blueBayoux), 0.2);
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;

  &__h1 {
    cursor: default;
    position: fixed;
    padding-left: 1rem;
    transition: color 0.3s;
  }

  nav {
    right: 1rem;
    position: absolute;

    li {
      font-size: 1rem;
      padding: 0rem 0.7rem;
      display: inline-block;
      font-weight: bold;

      .header__link {
        color: black;
        font-weight: bold;
        text-shadow: 0.05rem 0.05rem 0.05rem rgba(map-get($dark, mystic), 0.3);
        font-size: 1.02rem;
        text-decoration: none;
        padding: 0 0.6rem 0 0.6rem;
        transition: color 0.3s;

        &:hover {
          color: map-get($dark, mystic);
        }
      }
    }
  }
}

//Darkmode
body {
  &.dark {
    .header {
      background: transparentize(map-get($dark, blue-bayoux-dark), 0.2);

      h1 {
        color: #000000;
      }

      nav li .header__link {
        color: map-get($dark, mystic);

        &:hover {
          color: #000000;
        }
      }
    }
  }
}
