.work-cards-container {
  width: 64rem;
  height: 36rem;
  position: relative;

  &:hover > .layer {
    opacity: 1;
    visibility: visible;
  }

  &:hover .img-layer img {
    filter: blur(2px);
  }

  .img-layer {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .layer {
    font-family: $comfortaa-cursive;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;

    .buttons-container {
      align-items: center;
      justify-content: center;

      div {
        margin: 1rem;

        a {
          padding: 1.6rem 3.2rem;
          color: white;
          border: 1px solid white;
          border-radius: 7px;
          transition: color 0.25s, background 0.25s, font-weight 0.25s;
          text-decoration: none;

          &:hover {
            background: rgba($color: #ffffff, $alpha: 0.18);
          }
        }
      }
    }
  }
}
