.works {
  .content {
    .section-gallery {
      .work-cards-container {
        margin: 0.2rem;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        &:hover > .layer {
          opacity: 1;
          visibility: visible;
        }

        &:hover .img-layer img {
          filter: blur(4px);
        }

        .img-layer {
          margin: 0.2rem;
          height: 100%;
          width: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .layer {
          font-family: $comfortaa-cursive;
          margin: 0.2rem;
          position: absolute;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.6);
          visibility: hidden;
          justify-content: center;
          align-items: center;
          text-align: center;
          transition: 0.4s;
          color: #ffffff;

          .text-container {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 3rem;

            h3 {
              text-align: center;
              font-size: 1.3rem;
              font-weight: bold;
            }

            p {
              padding-top: 1rem;
              text-align: center;
              font-size: 0.9rem;
            }
          }

          .buttons-container {
            height: 25%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
              margin: 1rem auto;

              a {
                padding: 0.8rem 1.6rem;
                color: white;
                border: 1px solid white;
                border-radius: 7px;
                transition: all 0.25s ease-in;
                text-decoration: none;

                &:hover {
                  background-color: rgba($color: #ffffff, $alpha: 0.18);
                }
              }
            }
          }

          .techs {
            height: 25%;
            padding: 0;
            margin: 0;

            &__ul {
              position: absolute;
              bottom: 0;
              right: 0;
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center;

              //Tech img
              .tech-li {
                margin: 0 0.3rem 0 0;
                padding: 0;
                bottom: 0;

                .tech-img-container {
                  padding: 0.5rem 0.2rem;
                  height: 2rem;
                  width: 2rem;

                  svg {
                    height: 100%;
                  }
                }

                .tech-name {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
