.about-me {
  font-family: $lora;
  height: 100vh;
  display: flex;
  align-items: center;

  &__container {
    margin-left: -30%;
    padding: 0rem 1rem;
    width: 28%;
    transition: 0.5s;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.active {
      margin-left: 0;
    }

    &:hover {
      padding: 0 36%;

      .about-me__title {
        margin-bottom: -2rem;
        font-size: 2rem;
        transform: translateX(25%);
        transition: font-size 0.6s, transform 0.6s, margin 0.6s;
      }

      .about-me__description {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        transition: font-size 0.1s, line-height 0.4s;
      }

      .cv-container {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s, opacity 1s;
      }
    }

    .about-me__title {
      font-size: 1.5rem;
      transition: font-size 0.4s, transform 0.6s;
    }

    .about-me__description {
      font-size: 1.2rem;
      line-height: 1.7rem;
      transition: line-height 0.4s;
    }

    .cv-container {
      font-family: $gil-sans;
      visibility: hidden;
      opacity: 0;
      display: flex;
      justify-content: center;
      transition: 0.5s;

      a {
        color: black;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.7em 1.1em;
        border: black solid 1px;
        border-radius: 7px;

        &:hover {
          transition: 0.6s;
          background-color: rgba($color: #000000, $alpha: 0.15);
        }
      }
    }
  }
}

//Night mode
body {
  &.dark {
    .about-me {
      color: map-get($dark, mystic);

      .cv-container a {
        color: map-get($dark, mystic);
        border: map-get($dark, mystic) solid 1px;

        &:hover {
          background-color: rgba(map-get($dark, mystic), $alpha: 0.15);
        }
      }
    }
  }
}
