.intro {
  margin-top: 3rem;
  background: url('../images//backgrounds/1.jpg'),
    url('../images//backgrounds/1.jpg');
  background-size: 30rem 30rem, cover;
  background-attachment: fixed, fixed;
  background-position: top left, bottom center;
  background-repeat: repeat, no-repeat;

  .content .profile-picture {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-container {
      width: 18em;
      height: 19em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 18em;
        height: 18em;
        border-radius: 50%;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
