.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/backgrounds/1.jpg');
  // background: url('../images/backgrounds/3.gif') no-repeat center center fixed;
  background-size: 30rem cover;
  background-attachment: fixed;
  padding: 1rem 1rem 2rem;

  .content {
    .profile-picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .image-container {
        img {
          object-fit: cover;
          object-position: top;
          border-radius: 50%;
          height: 30rem;
          width: 30rem;
        }
      }
    }

    header h2 {
      margin-bottom: 0;
      text-align: center;
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
      margin: 1rem;
      text-align: center;
    }

    footer {
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .down-section-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        border: 0.13rem solid rgba($color: #ffffff, $alpha: 0.5);

        .icon {
          color: rgba($color: #ffffff, $alpha: 0.3);
          height: 5rem;
          width: 5rem;
          transition: 0.3s;

          &:hover {
            color: rgba($color: #ffffff, $alpha: 0.5);
          }
        }
      }
    }
  }
}
