@media (max-width: 2600px) {
}

@media (max-width: 1400px) {
  //Header
  .header {
    height: 3.5rem;

    nav li .header__link {
      font-size: 0.9rem;
    }
  }

  //Intro
  .intro {
    .content .profile-picture .image-container {
      margin-top: 2rem;

      img {
        height: 24rem;
        width: 24rem;
      }
    }
  }

  //Works
  .works {
    .content .section-gallery {
      grid-template-columns: repeat(2, 30%);

      //Work cell
      .work-container .layer .text-container {
        h3 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  //About me
  .about-me {
    &__container {
      margin-left: -42%;
      width: 39%;

      &:hover {
        padding: 0 30%;

        .about-me__title {
          transform: translateX(30%);
          font-size: 1.7rem;
        }

        .about-me__description {
          width: 35rem;
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }

      .about-me__title {
        font-size: 1.4rem;
      }

      .about-me__description {
        width: 35rem;
        font-size: 1.1rem;
        line-height: 1.7rem;
      }
    }
  }

  //Skills
  .skills {
    .tech-container {
      width: 68%;
      margin-left: -1rem;
    }

    .skills-description-aside {
      width: 29%;
      margin-left: -1rem;

      &:hover {
        .skills-tittle-header {
          font-size: 1.7rem;
        }

        .skills-description {
          font-size: 1.2rem;
        }
      }

      .skills-tittle-header {
        font-size: 1.4rem;
      }
      .skills-description {
        font-size: 1.1rem;
      }
    }
  }

  //Contact
  .contact {
    .container {
      width: 50%;
      .header-contact {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
        }
      }

      .form-contact {
        padding: 0 1.5rem;

        input,
        textarea {
          padding: 0.3rem 0;
        }

        .submit-container {
          padding-bottom: 2rem;

          .contact-submit {
            padding: 1rem 2.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  //Header
  .header {
    height: 4rem;

    &__h1 {
      font-size: 1.2rem;
    }

    nav ul {
      .switch-mode {
        display: none;
      }

      .language-selector {
        display: none;
      }

      li .header__link {
        font-size: 0.9rem;
      }
    }
  }

  //intro
  .intro {
    //Link arrow
    .content footer {
      .switch-mobile-language {
        display: block;
      }

      .switch-mode-mobile {
        display: flex;
      }

      .down-section-link {
        display: none;
      }
    }
  }

  // body {
  // font-size: 14px;

  //Skills
  // .tech-container {
  //   vertical-align: bottom;
  //   align-items: center;
  //   padding-left: 2%;

  //   .tech-img-li {
  //     font-size: 1.1em;

  //     .tech-img {
  //       max-width: 3.5em;
  //       max-height: 3.5em;
  //       margin: 0em 3em 1em 3em;
  //     }

  //     .tech-name {
  //       margin-right: -7em;
  //     }
  //   }
  // }

  //Works
  // .works {
  //   .section-gallery .work-container {
  //     width: 100%;

  //     .layer div {
  //       padding-top: 7em;

  //       a {
  //         padding: 1em 2em 1em 2em;
  //       }
  //     }
  //   }
  // }
  // }
}

@media (max-width: 750px) {
  //intro
  // .intro {
  //   .switch-mobile {
  //     visibility: visible;
  //     opacity: 1;
  //     display: block;
  //   }

  //   .switch-mobile-language {
  //     visibility: visible;
  //     opacity: 1;
  //     display: block;
  //   }
  // }

  //One
  // .section-one {
  //   justify-content: center;
  //   align-items: center;
  //   display: grid;
  //   grid-template-columns: repeat(1, 2fr);
  //   grid-template-areas:
  //     'aside'
  //     'section';

  //   .tech-container {
  //     grid-area: section;

  //     .tech-img-li {
  //       font-size: 1em;
  //       margin-right: 8em;
  //       text-align: left;

  //       .tech-img {
  //         max-width: 6em;
  //         max-height: 6em;
  //       }

  //       .tech-name {
  //         margin-right: -8.5em;
  //       }
  //     }
  //   }

  //   aside {
  //     grid-area: aside;
  //   }
  // }

  //two
  // .section-two {
  //   .cv-container {
  //     margin-top: 1rem;

  //     a {
  //       padding: 1rem;
  //     }
  //   }
  // }

  //Works
  // .works {
  //   .section-gallery {
  //     grid-template-columns: repeat(1, 1fr);

  //     .work-container {
  //       padding: 0;
  //       margin: 0;
  //     }
  //   }
  // }
}

@media (max-width: 576px) {
  body {
    //Header
    .header {
      height: 2rem;
      height: 3rem;
      display: flex;
      justify-content: center;

      nav ul {
        display: none;
      }
    }

    //Intro
    .intro {
      .content {
        margin-left: -2rem;

        .profile-picture {
          .image-container {
            img {
              height: 24rem;
              width: 24rem;
            }
          }
        }

        header h2 {
          margin-top: 1.5rem;
          font-size: 2.5rem;
        }

        p {
          margin: 1rem;
          font-size: 1.2rem;
        }

        footer {
          padding-top: 1rem;

          li .switch-mode-mobile {
            width: 5.6rem;
            height: 5.6rem;
          }
        }

        .switch-mobile-language {
          border-radius: 50%;
          padding: 0.2rem;
        }
      }
    }

    //Works
    .works {
      height: 100%;
      padding: 0rem;

      .content {
        .work-tittle {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.2rem;
          }
        }

        .section-gallery {
          display: flex;
          flex-direction: column;

          .work-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            .img-layer {
              margin: 0 0.2rem;
            }

            .layer {
              margin: 0;

              .text-container {
                p {
                  padding: 0rem 2rem 1rem;
                }
              }
            }
          }
        }
      }
    }

    //About me
    .about-me {
      width: 100%;

      &__container {
        margin: 0;
        opacity: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        &.active {
          opacity: 1;
        }

        &:hover {
          width: 100%;
          padding: 0;

          .about-me__title {
            margin: 0;
            font-size: 1.5rem;
            transform: translateX(0%);
          }

          .about-me__description {
            width: 100%;
            font-size: 1.1rem;
            line-height: 1.6rem;
          }
        }

        .about-me__title {
          text-align: center;
          font-size: 1.5rem;
        }

        .about-me__description {
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 0rem;
          font-size: 1.1rem;
          line-height: 1.5rem;
        }

        .cv-container {
          padding-top: 1rem;
          visibility: visible;
          opacity: 1;
          transition: visibility 1s, opacity 1s;
        }
      }
    }
  }

  //Skills
  .skills {
    height: 100%;
    margin: 4rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .tech-container {
      margin: 0 0 0 0;
      width: 100%;
      height: 100%;
      display: flex;

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        .tech-li {
          .tech-img-container {
            .tech-img {
              height: 4rem;
              width: 4rem;
            }
          }

          .tech-name {
            font-size: 0.8rem;
            opacity: 1;
          }
        }
      }
    }

    .skills-description-aside {
      order: -1;
      position: static;
      margin: 0;
      height: 100%;
      width: 100%;

      &:hover {
        width: 100%;

        .skills-tittle-header {
          transition: font-size 0.5s;
          font-size: 1.5rem;
        }

        .skills-description {
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
      }

      .skills-tittle-header {
        text-align: center;
        transition: font-size 0.5s;
        font-size: 1.5rem;
      }

      .skills-description {
        padding: 0rem 1rem;
        text-align: center;
        transition: font-size 0.5s;
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
  }

  //Contact
  .contact {
    .container {
      width: 95%;

      .header-contact {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.1rem;
        }
      }

      .form-contact {
        padding: 0 1rem;

        .text-input-container {
          .input-container {
            flex-direction: column;
            padding: 0;

            input {
              width: 100%;
              margin: 0.5rem 0;
            }
          }

          .textarea-container {
            padding: 0.5rem 0 0 0;
            textarea {
              height: 9rem;
            }
          }
        }

        .submit-container {
          padding: 1.5rem 0 2rem 0;
          .contact-submit {
            padding: 1.5rem 6rem;
          }
        }
      }
    }
  }

  //Footer
  .footer {
    .icons-ul {
      margin-left: -2rem;
    }

    .menu {
      margin-left: -2rem;
    }
  }
}

@media (max-width: 330px) {
  body {
    //Header
    .header {
      height: 2rem;
    }

    //Intro
    .intro {
      .content {
        margin-left: -2rem;

        .profile-picture {
          .image-container {
            margin-top: 7rem;

            img {
              height: 16rem;
              width: 16rem;
            }
          }
        }

        header h2 {
          margin-top: 0.5rem;
          font-size: 2rem;
        }

        p {
          margin: 0.5rem;
          font-size: 0.9rem;
        }

        footer {
          padding-top: 0.5rem;

          li .switch-mode-mobile {
            width: 5.1rem;
            height: 5.1rem;
          }
        }

        .switch-mobile-language {
          border-radius: 50%;
          padding: 0rem;

          svg {
            transform: scale(50%);
          }
        }
      }
    }
  }
  //One
  // .section-one {
  //   .tech-container ul {
  //     margin-right: -1em;

  //     .tech-img {
  //       max-width: 3.2em;
  //       max-height: 3.2em;
  //       margin: 1em 0.5em 1em 0.5em;
  //     }

  //     .tech-name {
  //       margin-top: -1em;
  //       margin-right: -6em;
  //     }
  //   }
  // }

  // //Works
  // .works {
  //   .section-gallery .work-container {
  //     width: 95%;

  //     .layer div a {
  //       padding: 0.2em 1.2em 0.2em 1.2em;
  //     }
  //   }
  // }
}
