@media (max-width: 320px) {
  body {
    font-size: 11px;
  }

  #two {
    margin-bottom: -10em;
    margin-top: -5em;
  }

  #one {
    justify-content: center;
    align-items: center;
  }

  #one aside {
    grid-area: aside;
  }

  #one section {
    grid-area: section;
  }

  .tech-container ul {
    margin-right: -1em;
  }

  .tech-img {
    max-width: 3.2em;
    max-height: 3.2em;
    margin: 1em 0.5em 1em 0.5em;
  }

  .tech-name {
    margin-top: -1em;
    margin-right: -6em;
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'aside'
      'section';
  }

  .cv-container {
    margin-top: 1rem;
  }

  .cv-container a {
    padding: 1rem;
  }

  .content.box.style2 {
    padding: 0em 9em 0em 9em;
  }

  .content.box.style2 a {
    padding: 1em 3em 1em 3em;
  }

  .content.box.style2:first-child {
    padding: 0em 2em 2em 2em;
    margin-right: -3em;
  }

  .section-gallery {
    grid-template-columns: repeat(1, 1fr);

    .work-container {
      width: 95%;
      padding: 0;
      margin: 0;

      .layer div a {
        padding: 0.2em 1.2em 0.2em 1.2em;
      }
    }
  }

  #switch-mobile {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }

  .tech-container {
    vertical-align: bottom;
    align-items: center;
    padding-left: 2%;
  }

  .tech-img {
    max-width: 3.5em;
    max-height: 3.5em;
    margin: 0em 3em 1em 3em;
  }

  .tech-name {
    margin-right: -7em;
  }

  .tech-container ul li {
    font-size: 1.1em;
  }

  .section-gallery .work-container {
    width: 100%;

    .layer div {
      padding-top: 7em;
      a {
        padding: 1em 2em 1em 2em;
      }
    }
  }
}

@media (max-width: 750px) {
  body {
    font-size: 14px;
  }

  .tech-container {
    ul {
      li {
        font-size: 1em;
        margin-right: 8em;
        text-align: left;
      }
    }
  }

  .tech-img {
    max-width: 6em;
    max-height: 6em;
  }

  .tech-name {
    margin-right: -8.5em;
  }

  .cv-container {
    margin-top: 1rem;
  }

  .cv-container a {
    padding: 1rem;
  }

  #one {
    justify-content: center;
    align-items: center;
  }

  #one aside {
    grid-area: aside;
  }

  #one section {
    grid-area: section;
  }

  #one {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas:
      'aside'
      'section';
  }

  .section-gallery {
    grid-template-columns: repeat(1, 1fr);

    .work-container {
      width: 100%;
      padding: 0;
      margin: 0;

      .layer div {
        a {
          padding: 1em 2em 1em 2em;
        }
      }
    }
  }

  #switch-mobile {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  #switch-mobile-language {
    visibility: visible;
    opacity: 1;
    display: block;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 11px;

    #two {
      margin-bottom: -10em;
      margin-top: -5em;
    }

    #one {
      justify-content: center;
      align-items: center;
    }

    #one aside {
      grid-area: aside;
    }

    #one section {
      grid-area: section;
    }

    .tech-container ul {
      margin-right: 2em;
    }

    .tech-img {
      max-width: 3.5em;
      max-height: 3.5em;
      margin: 1.5em 1em 1.5em 1em;
    }

    .tech-name {
      margin-top: -2em;
      margin-right: -8.5em;
    }

    .tech-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        'aside'
        'section';
    }

    .cv-container {
      margin-top: 1rem;
    }

    .cv-container a {
      padding: 1rem;
    }

    .content.box.style2 {
      padding: 0em 18em 0em 18em;
    }

    .content.box.style2 a {
      padding: 1.5em 2em 1.5em 2em;
    }

    .content.box.style2:first-child {
      padding: 0em 2em 2em 2em;
      margin-right: -3em;
    }

    .section-gallery {
      grid-template-columns: repeat(1, 1fr);

      .work-container {
        width: 100%;
        padding: 0;
        margin: 0;

        .layer div {
          padding-top: 8em;
          a {
            padding: 1em 2em 1em 2em;
          }
        }
      }
    }

    #switch-mobile {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}
