@media (max-width: 992px) {
  body {
    font-size: 14px;

    //One
    .tech-container {
      vertical-align: bottom;
      align-items: center;
      padding-left: 2%;

      .tech-img-li {
        font-size: 1.1em;

        .tech-img {
          max-width: 3.5em;
          max-height: 3.5em;
          margin: 0em 3em 1em 3em;
        }

        .tech-name {
          margin-right: -7em;
        }
      }
    }

    //Works
    .works {
      .section-gallery .work-container {
        width: 100%;

        .layer div {
          padding-top: 7em;

          a {
            padding: 1em 2em 1em 2em;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  //intro
  .intro {
    .switch-mobile {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    .switch-mobile-language {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }

  //One
  .section-one {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas:
      'aside'
      'section';

    .tech-container {
      grid-area: section;

      .tech-img-li {
        font-size: 1em;
        margin-right: 8em;
        text-align: left;

        .tech-img {
          max-width: 6em;
          max-height: 6em;
        }

        .tech-name {
          margin-right: -8.5em;
        }
      }
    }

    aside {
      grid-area: aside;
    }
  }

  //two
  .section-two {
    .cv-container {
      margin-top: 1rem;

      a {
        padding: 1rem;
      }
    }
  }

  //Works
  .works {
    .section-gallery {
      grid-template-columns: repeat(1, 1fr);

      .work-container {
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  body {
    font-size: 11px;

    //One
    .section-one {
      .tech-container ul {
        margin-right: 2em;

        .tech-img {
          max-width: 3.5em;
          max-height: 3.5em;
          margin: 1.5em 1em 1.5em 1em;
        }

        .tech-name {
          margin-top: -2em;
          margin-right: -8.5em;
        }
      }
    }

    //Two
    .section-two {
      margin-bottom: -10em;
      margin-top: -5em;
    }

    //Works
    .works {
      .layer div {
        padding-top: 8em;
      }
    }
  }
}

@media (max-width: 320px) {
  //One
  .section-one {
    .tech-container ul {
      margin-right: -1em;

      .tech-img {
        max-width: 3.2em;
        max-height: 3.2em;
        margin: 1em 0.5em 1em 0.5em;
      }

      .tech-name {
        margin-top: -1em;
        margin-right: -6em;
      }
    }
  }

  //Works
  .works {
    .section-gallery .work-container {
      width: 95%;

      .layer div a {
        padding: 0.2em 1.2em 0.2em 1.2em;
      }
    }
  }
}
