.skills {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  .tech-container {
    width: 72%;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;

    ul {
      list-style: none;
    }
  }

  .skills-description-aside {
    position: absolute;
    right: 0;
    margin-right: -30%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: margin 0.5s, width 0.5s;

    &:hover {
      width: 31.5%;
      transition: width 0.5s;

      .skills-tittle-header {
        transition: font-size 0.5s;
        font-size: 1.7rem;
      }

      .skills-description {
        transition: font-size 0.5s;
        font-size: 1.4rem;
      }
    }

    &.active {
      margin-right: 0;
    }

    .skills-tittle-header {
      transition: font-size 0.5s;
      font-size: 1.5rem;
    }

    .skills-description {
      transition: font-size 0.5s;
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }
}

body {
  &.dark {
    .tech-container {
      color: #121212;
    }

    .tech-container ul li:hover label {
      color: #d6d5d5;
    }
  }
}
