.tech-img-li {
  .tech-img {
    margin: 5px;
    max-width: 4.5em;
    max-height: 4.5em;
    line-height: 7.5em;
    transition: 0.3s;
  }

  .tech-name {
    transition: 0.3s;
    margin-right: -1em;
  }
}
