.section-two {
  background-color: #c4a7a7;
  background-size: 256px 256px, cover;
  background-attachment: fixed, fixed;
  background-position: top left, center center;

  .cv-container {
    margin-left: 1em;

    &:hover {
      transition: 0.6s;
      background-color: #ce2121;
    }

    a {
      margin: 0 0.625em;
      text-align: center;
      font-size: 0.9em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
      padding: 0.7em 1.1em 0.7em 1.1em;
      background-color: #e0e0e0;
      border-radius: 0.7em;
    }
  }
}

//Night mode
main {
  &.dark {
    .two-container {
      background-color: #262727;
      color: #ffffff;

      .cv-container a {
        color: #000000;
      }
    }
  }
}
