@media (max-width: 576px) {
  body {
    //Header
    .header {
      height: 2rem;
      height: 3rem;
      display: flex;
      justify-content: center;

      nav ul {
        display: none;
      }
    }

    //Intro
    .intro {
      .content {
        margin-left: -2rem;

        .profile-picture {
          .image-container {
            img {
              height: 22rem;
              width: 22rem;
            }
          }
        }

        header h2 {
          margin-top: 1.5rem;
          font-size: 2.5rem;
        }

        p {
          margin: 1rem;
          font-size: 1.2rem;
        }

        footer {
          padding-top: 1rem;

          li {
            .switch-mode-mobile {
              width: 5.6rem;
              height: 5.6rem;
            }
          }
        }

        .switch-mobile-language {
          border-radius: 50%;
          padding: 0.2rem;
        }
      }
    }

    //Switch button
    .switch-button {
      margin: 0;
      padding: 2rem 0 0 0;
    }

    //Works carousel
    .work__cards {
      .content {
        .work-cards__header {
          margin: 3rem 0 -10rem 0;

          h2 {
            font-size: 1.6rem;
          }

          p {
            font-size: 1.25rem;
          }
        }

        .css-1qzevvg {
          margin: -9rem 0 0 -1rem;
        }

        //Work cards
        .work-cards-container {
          width: 18rem;
          height: 32rem;

          .layer {
            .text-container {
              padding: 0 0.15rem;
              height: 50%;

              h3 {
                font-size: 1.5rem;
              }

              p {
                margin: 3rem 0 0 0;
                padding: 1rem;
                font-size: 0.9rem;
              }
            }

            .buttons-container {
              div {
                margin: 0.4rem;

                a {
                  padding: 1rem 1.4rem;
                }
              }
            }

            .techs {
              height: 25%;

              &__ul {
                display: flex;
                flex-wrap: wrap;
                width: 65%;

                .tech-li {
                  margin-right: 0.2rem;

                  .tech-img-container {
                    padding: 0.2rem 0.2rem;
                    height: 2.3rem;
                    width: 2.3rem;
                  }

                  .tech-name {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    //Works grid
    .works {
      height: 100%;
      padding: 0rem;

      .content {
        .work-tittle {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.2rem;
          }
        }

        .section-gallery {
          display: flex;
          flex-direction: column;

          .work-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;

            .img-layer {
              margin: 0 0.2rem;
            }

            .layer {
              margin: 0;

              .text-container {
                p {
                  padding: 0rem 2rem 1rem;
                }
              }
            }
          }
        }
      }
    }

    //About me
    .about-me {
      width: 100%;
      padding: 0;

      &__container {
        &:hover {
          .about-me__title {
            font-size: 1.5rem;
          }

          .about-me__description {
            font-size: 1.1rem;
            line-height: 1.5rem;
          }
        }

        .about-me__title {
          font-size: 1.5rem;
        }

        .about-me__description {
          font-size: 1.1rem;
          line-height: 1.5rem;
        }

        .cv-container {
          padding-top: 1rem;

          a {
            padding: 0.7rem 1.1rem;
          }
        }
      }
    }

    //Skills
    .skills {
      overflow-y: hidden;
      height: 100%;
      padding: 3rem 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .tech-container {
        margin: 0 0 0 0;
        width: 100%;
        height: 100%;
        display: flex;

        ul {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;

          .tech-li {
            .tech-img-container {
              height: 4rem;
              width: 4rem;
            }

            .tech-name {
              font-size: 0.8rem;
              opacity: 1;
            }
          }
        }
      }

      .skills-description-aside {
        order: -1;
        position: static;
        margin: 0;
        height: 100%;
        width: 100%;

        &:hover {
          transform: scale(1);
          width: 100%;

          .skills-tittle-header {
            transition: font-size 0.5s;
            font-size: 1.5rem;
          }

          .skills-description {
            font-size: 1.1rem;
            line-height: 1.5rem;
          }
        }

        .skills-tittle-header {
          text-align: center;
          transition: font-size 0.5s;
          font-size: 1.5rem;
        }

        .skills-description {
          padding: 0rem 1rem;
          text-align: center;
          transition: font-size 0.5s;
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
      }
    }

    //Contact
    .contact {
      .container {
        width: 95%;

        .header-contact {
          h2 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1.1rem;
          }
        }

        .form-contact {
          padding: 0 1rem;

          .text-input-container {
            .input-container {
              flex-direction: column;
              padding: 0;

              input {
                width: 100%;
                margin: 0.5rem 0;
              }
            }

            .textarea-container {
              padding: 0.5rem 0 0 0;

              textarea {
                height: 9rem;
              }
            }
          }

          .submit-container {
            padding: 1.5rem 0 2rem 0;

            .contact-submit {
              padding: 1.5rem 6rem;
            }
          }
        }
      }
    }

    //Contact section
    .contact-section {
      height: 100%;
      &__container {
        padding: 1.8rem 0;
        .contact__header {
          padding: 0;
        }

        .contact-icons-container {
          flex-wrap: wrap;
          width: 100%;

          .icon-container {
            padding: 1rem;
            margin: 0;

            .linkedin,
            .email,
            .telegram {
              &:hover {
                transform: scale(1.05);
              }

              svg {
                height: 120px;
                width: 120px;
              }
            }

            .copied {
              p {
                font-size: 1rem;
                width: 100%;
              }
            }
          }
        }
      }
    }

    //Footer
    .footer {
      .icons-ul {
        margin-left: -2rem;
      }

      .menu {
        margin-left: -2rem;
      }
    }
  }
}

@media (max-width: 414px) {
  body {
    //Works carousel
    .work__cards {
      .content {
        .work-cards__header {
          margin: 3rem 0 -8rem 0;
        }

        .css-1qzevvg {
          margin: -6.5rem 0 0 -1.5rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  body {
    //intro
    .intro {
      .content {
        margin-left: -2rem;

        .profile-picture {
          .image-container {
            margin-top: 5rem;
          }
        }
      }
    }

    //Switch-button
    .switch-button {
      padding: 2rem 0 0 0;
    }

    //Works carousel
    .work__cards {
      .content {
        // padding: 1rem;
        .work-cards__header {
          margin: 0;
          padding: 0;
        }

        //WorkCard component
        .work-cards-container {
          width: 15.75rem;
          height: 28rem;

          .layer {
            .buttons-container {
              div {
                margin: 0;
                font-size: 0.9rem;
                padding: 0.3rem;

                a {
                  padding: 1rem 1.2rem;
                }
              }
            }

            .techs {
              &__ul {
                width: 75%;

                .tech-li {
                  .tech-img-container {
                    height: 2.25rem;
                    width: 2.25rem;
                  }
                }
              }
            }
          }
        }

        .css-1qzevvg {
          margin: 0 0 0 -2rem;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 321px) {
  body {
    //Header
    .header {
      height: 2rem;
    }

    //Intro
    .intro {
      .content {
        .profile-picture {
          .image-container {
            margin-top: 4rem;

            img {
              height: 16rem;
              width: 16rem;
            }
          }
        }

        header {
          h2 {
            margin-top: 0.3rem;
            font-size: 1.8rem;
          }
        }

        p {
          padding: 1rem;
          margin: 0.3rem;
          font-size: 1.1rem;
        }

        footer {
          padding-top: 0.5rem;

          li {
            .switch-mode-mobile {
              width: 5.1rem;
              height: 5.1rem;
            }
          }
        }

        .switch-mobile-language {
          border-radius: 50%;
          padding: 0rem;

          svg {
            transform: scale(50%);
          }
        }
      }
    }

    //Switch-button
    .switch-button {
      padding: 1rem 0 0 0;
    }

    //Works carousel
    .work__cards {
      .content {
        .work-cards__header {
          h2 {
            font-size: 1.3rem;
          }

          p {
            font-size: 1rem;
          }
        }

        //WorkCard component
        .work-cards-container {
          width: 13.5rem;
          height: 24rem;

          .layer {
            .text-container {
              h3 {
                padding: 3rem 0 2rem 0;
                margin: 0;
              }

              p {
                margin: 0;
                padding: 0;
              }
            }

            .buttons-container {
              div {
                margin: 0;
                font-size: 0.7rem;
                padding: 0.2rem;

                a {
                  padding: 1rem 1.2rem;
                }
              }
            }

            .techs {
              &__ul {
                width: 85%;

                .tech-li {
                  .tech-img-container {
                    height: 2.2rem;
                    width: 2.2rem;
                  }
                }
              }
            }
          }
        }

        .css-1qzevvg {
          margin: 0 0 0 -3rem;
          padding: 1rem 0 0 0;
        }
      }
    }

    //Work grid
    .works {
      .content {
        .section-gallery {
          .work-cards-container {
            .layer {
              .text-container {
                padding: 0 0.5rem;

                h3 {
                  font-size: 1.15rem;
                }

                p {
                  font-size: 0.8rem;
                }
              }

              .buttons-container {
                div {
                  font-size: 0.9rem;
                  margin: 0.3rem;

                  a {
                    padding: 0.7rem 1.3rem;
                  }
                }
              }

              .techs {
                &__ul {
                  //Tech img
                  .tech-li {
                    margin: 0 0.2rem 0 0;

                    .tech-img-container {
                      padding: 0.2rem 0.1rem;
                      height: 1.8rem;
                      width: 1.8rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    //About me
    .about-me {
      &__container {
        &:hover {
          .about-me__title {
            font-size: 1.3rem;
          }

          .about-me__description {
            font-size: 1.05rem;
          }
        }

        .about-me__title {
          font-size: 1.3rem;
        }

        .about-me__description {
          font-size: 1.05rem;
        }
      }
    }

    //Skills
    .skills {
      .tech-container {
        // padding: 1rem;
        ul {
          .tech-li {
            padding: 1rem;

            .tech-img-container {
              height: 3rem;
              width: 3rem;
            }
          }
        }
      }

      .skills-description-aside {
        &:hover {
          .skills-tittle-header {
            font-size: 1.3rem;
          }

          .skills-description {
            font-size: 1.05rem;
          }
        }

        .skills-tittle-header {
          font-size: 1.3rem;
        }

        .skills-description {
          font-size: 1.05rem;
        }
      }
    }
  }
}
