// General
@import "./variables.scss";
@import "./fonts.scss";
@import "./body.scss";

// Components
@import "./components/switchMode.scss";
@import "./components/switchLanguage.scss";
@import "./components/techImg.scss";

//Sections
@import "./sections/header.scss";
@import "./sections/intro.scss";
@import "./sections/aboutMe.scss";
@import "./sections/footer.scss";

//Responsive
@import "./responsive/desktop.scss";
@import "./responsive/height.scss";
@import "./responsive/tablet.scss";
@import "./responsive/mobile.scss";
